body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40vh;
  background-color: #0a192f;
  color: #ccd6f6;
}

div.spacer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.fancy-element {
  width: 100%;
  max-width: 300px;
  height: 500px;
  background: #64ffda;
  border-radius: 8px;
  margin: 0 auto;
  opacity: 0;
  animation: reveal 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
